[submodule "resources/E22/kubeinvaders"]
	path = resources/E22/kubeinvaders
	url = https://github.com/oskapt/kubeinvaders
[submodule "resources/E22/rancher-demo"]
	path = resources/E22/rancher-demo
	url = https://github.com/oskapt/rancher-demo
